<!DOCTYPE html>
<html>
  <head>
    <title>Layout</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="contianer">
      <div class="row">
        <div class="col-md-4">
            <%= yield :left_column %>
        </div>
        <div class="col-md-4">
            <%= yield :mid_column %>
        </div>
        <div class="col-md-4">
            <%= yield :right_column %>
        </div>
      </div>
    </div>

    
    <%= yield %>
  </body>
</html>
