<h1>Edit <%= @student.first_name %> <%= @student.last_name %></h1>

<form action="/dojos/<%= @dojo.id %>/students/<%=@student.id %>%" method="post">
<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
<input type="hidden" name="_method" value="patch">
    <p>First Name: <input type="text" name="Student[first_name]" value="<%= @student.first_name %>"></p>
    <p>Last Name: <input type="text" name="Student[last_name]" value="<%=@student.last_name %>"></p>
    <p>Email: <input type="text" name="Student[email]" value="<%=@student.email %>"></p>
    <p>Dojo: <select name="Student[Dojo_id]">
        <% @all_dojo.each do |d| %>
        <option value="<%= d.id %>"><%= d.branch %></option>
        <% end %>
    </select></p>
    <input type="submit" value="Edit">
</form>
<p><a href="/dojos">Home</a> | <a href="/dojos/<%= @dojo.id %>">Show</a></p>
<% if flash[:errors] %>
    <div id="alert">
        <p> <%= flash[:errors] %> </p>
    </div>
<% end %>