<h1><%= @dojo.branch %></h1>
<p>Address: <%= @dojo.street %></p>
<p>City: <%= @dojo.city %></p>
<p>State: <%= @dojo.state %></p>
<p><a href="/dojos">Home</a> | <a href="/dojos/<%=@dojo.id %>/edit">Edit</a></p>

<table>
    <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Actions</th>
    </thead>
    <tbody>
    <% @students.each do |s| %>
        <tr>
            <td><%= s.first_name %></td>
            <td><%= s.last_name %></td>
            <td><%= s.email %></td>
            <td><a href="/dojos/<%=@dojo.id %>/students/<%=s.id %>">Show</a> | <a href="/dojos/<%=@dojo.id %>/students/<%=s.id %>/edit">Edit</a> | <a href="/dojos/<%=@dojo.id %>/students/<%=s.id %>"  data-method="delete" >Destroy</a></td>
        </tr>
    <% end %>
    </tbody>
</table>

<% if flash[:success] %>
    <div id="alert">
        <p> <%= flash[:success] %> </p>
    </div>
<% end %>


<a href="/dojos/<%=@dojo.id %>/students/new">Add Student</a>